<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.mapper.DestinationMapper">

	<select id="getDestination"
		resultType="com.myproject.dto.DestinationDTO">
		SELECT * FROM destination
	</select>

	<select id="getDestinationByCountry"
		parameterType="com.myproject.dto.DestinationDTO"
		resultType="com.myproject.dto.DestinationDTO">
		SELECT * FROM destination
		<where>
			<if test="countryName != null">
				COUNTRY_NAME = #{countryName}
			</if>
		</where>
	</select>

	<insert id="insertDestination"
		parameterType="com.myproject.dto.DestinationDTO">
		INSERT INTO destination
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="idDestination != null">
				ID_DESTINATION,
			</if>
			<if test="countryName != null">
				COUNTRY_NAME,
			</if>
			<if test="cityName != null">
				CITY_NAME
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="idDestination != null">
				#{idDestination},
			</if>
			<if test="countryName != null">
				#{countryName},
			</if>
			<if test="cityName != null">
				#{cityName}
			</if>
		</trim>
	</insert>

	<update id="updateDestination"
		parameterType="com.myproject.dto.DestinationDTO">
		UPDATE destination
		<set>
			<if test="countryName !=null"> COUNTRY_NAME = #{countryName},</if>
			<if test="cityName !=null"> CITY_NAME = #{cityName}</if>
		</set>
		<where>
			<if test="idDestination !=null and idDestination !=0">
				ID_DESTINATION = #{idDestination}
			</if>
		</where>
	</update>

	<delete id="deleteDestination"
		parameterType="com.myproject.dto.DestinationDTO">
		DELETE FROM destination
		<where>
			<if test="idDestination !=null and idDestination !=0">
				ID_DESTINATION = #{idDestination}
			</if>
		</where>
	</delete>
</mapper>